{% extends "level-test/base.html" %}
{% load static %}


{% block content %}
<main role="main" class="container">
  <div id="kanji-container" class="card" style="background-color: rgb(158, 9, 146);">
    <div class="card-body" id="kanji">
      <h1 class="display-1 text-center my-4">{{ kanji_to_study.kanji.expression }}</h1>
      <input type="hidden" id="user_kanji_progress_id" value="{{ kanji_to_study.id }}">
      <div id="details" class="text-center" style="display:none;">
        <h2 class="display">{{ kanji_to_study.kanji.reading }}</h2>
        <h2 class="display">{{ kanji_to_study.kanji.meaning }}</h2>
      </div>
    </div>
  </div>
    <div class="row justify-content-center my-4">
      <button class="btn btn-primary btn-lg" id="toggle-details-button" onclick="toggleDetails()">Show Answer</button>
    </div>
    <div id="buttons" class="justify-content-center text-center my-4">
      <button type="button" class="quality-button btn btn-lg btn-danger" onclick="sendFeedback('Again')">Again</button>
      <button type="button" class="quality-button btn btn-lg btn-warning" onclick="sendFeedback('Hard')">Hard</button>
      <button type="button" class="quality-button btn btn-lg btn-info" onclick="sendFeedback('Good')">Good</button>
      <button type="button" class="quality-button btn btn-lg btn-success" onclick="sendFeedback('Easy')">Easy</button>
    </div>


  <script>
    function toggleDetails() {
        var detailsElem = document.getElementById("details");
        var toggleButton = document.getElementById("toggle-details-button");

        if (detailsElem.style.display === "none" || detailsElem.style.display === "") {
            detailsElem.style.display = "block";
            toggleButton.textContent = "Hide Answer";
        } else {
            detailsElem.style.display = "none";
            toggleButton.textContent = "Show Answer";
        }
    }


    function sendFeedback(feedback) {
        var userKanjiProgressId = document.getElementById("user_kanji_progress_id").value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        // Optional: Disable buttons while the request is being processed
        setQualityButtonsEnabled(false);

        xhr.onreadystatechange = function() {
            if (this.readyState == XMLHttpRequest.DONE) {
                // Optional: Re-enable buttons after request is complete
                setQualityButtonsEnabled(true);

                if (this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    if (response.next_kanji) {
                        // Update kanji expression and details
                        updateKanjiDisplay(response.next_kanji);
                        resetDetails();
                    } else {
                        // Handle the case where there are no more kanji to study
                        document.getElementById("kanji-container").innerHTML = '<h2 class="display">Study session complete!</h2>';
                    }
                } else {
                    // Handle HTTP errors here
                }
            }
        }
        xhr.send("user_kanji_progress_id=" + userKanjiProgressId + "&feedback=" + feedback);
    }

    function resetDetails() {
        var detailsElem = document.getElementById("details");
        var toggleButton = document.getElementById("toggle-details-button");

        detailsElem.style.display = "none";
        toggleButton.textContent = "Show Answer";
    }

    function updateKanjiDisplay(nextKanji) {
        var kanjiElem = document.querySelector("#kanji h1");
        kanjiElem.textContent = nextKanji.expression;

        var detailsElem = document.getElementById("details");
        detailsElem.innerHTML = '<h2 class="display">' + nextKanji.reading + '</h2>' +
                                '<h2 class="display">' + nextKanji.meaning + '</h2>';
        detailsElem.style.display = "none";

        document.getElementById("user_kanji_progress_id").value = nextKanji.id;
    }

    function setQualityButtonsEnabled(enabled) {
        var buttons = document.querySelectorAll(".quality-button");
        buttons.forEach(function(button) {
            button.disabled = !enabled;
        });
    }

  </script>
</main>
{% endblock %}
