{% extends "level-test/base.html" %}
{% load static %}

{% block styles %}
    <!-- <link rel="stylesheet" href="{% static 'level_test/main.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'level_test/kanji-test.css' %}"> -->
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1 class="text-center">Choose a JLPT Level to start studying</h1>
  <div class="row justify-content-center my-4">
    <a href="{% url 'study-level' jlpt_level='n1' %}" class="btn btn-primary btn-lg mb-2">N1</a>
    <a href="{% url 'study-level' jlpt_level='n2' %}" class="btn btn-info btn-lg mb-2">N2</a>
    <a href="{% url 'study-level' jlpt_level='n3' %}" class="btn btn-success btn-lg mb-2">N3</a>
    <a href="{% url 'study-level' jlpt_level='n4' %}" class="btn btn-warning btn-lg mb-2">N4</a>
    <a href="{% url 'study-level' jlpt_level='n5' %}" class="btn btn-danger btn-lg mb-2">N5</a>
  </div>
</main>
{% endblock content %}
