{% extends "level-test/base.html" %} {% load static %} {% block styles %}
<!-- <link rel="stylesheet" href="{% static 'level_test/main.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'level_test/kanji-test.css' %}"> -->
{% endblock %} {% block content %}
<main role="main" class="flex flex-col items-center mt-24">
	<div
		class="bg-blue-500 shadow-md rounded-md text-white font-medium items-center w-9/12 p-2">
		<h3 class="text-red-400">Welcome to the JLPT Kanji Study website</h3>
		<p class="">Choose an option below to get started</p>
	</div>
	<div class="flex gap-4">
		<form action="{% url 'start_test' %}" method="get">
			<button type="submit" class="bg-blue-400 rounded-md text-center">
				Kanji Level Test
			</button>
		</form>
		<a href="#" class="bg-red-400 rounded-md text-center">Study Decks</a>
	</div>
	<div class="">
		<a href="#" class="">Statistics</a>
	</div>
</main>
{% endblock content %}
