{% extends "level-test/base.html" %}
{% load static %}

{% block styles %}
    <!-- <link rel="stylesheet" href="{% static 'level_test/main.css' %}">
    <link rel="stylesheet" href="{% static 'level_test/kanji-test.css' %}"> -->
{% endblock %}

{% block content %}
<div class="container">
  <h1>Kanji Test: {{ level | upper }}</h1>
  <!-- Card with fixed size for square appearance -->
  <div class="card text-center text-white bg-info" id="currentKanji" style="height: 300px; width: 300px; margin: auto;">
    <!-- Enlarge the text size -->
    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
      <h1 class="card-title display-1" style="font-size: 5rem;">{{ kanji }}</h1>
    </div>
  </div>

  <!-- Form with padding -->
  <form class="form-inline justify-content-center my-4" method="post" id="kanjiTestForm">
      {% csrf_token %}
      <!-- Input with right margin -->
      <input type="text" class="form-control mr-3" name="answer" placeholder="Enter the meaning">
      <!-- Button -->
      <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
  </form>

  <div id="feedback" class="alert" role="alert"></div>
  <div id="scoreDisplay">Score: {{ score }}</div>
  <div id="results" class="alert" role="alert"></div>
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    const form = document.getElementById('kanjiTestForm');
    const feedbackElem = document.getElementById('feedback');
    const answerInput = form.querySelector('input[name="answer"]');
    const resultsDiv = document.getElementById('results');

    let levelUpEventAdded = false;
    answerInput.focus();

    form.addEventListener('submit', function(e) {
        e.preventDefault();  // Preventing the form's default submit action

        const answerValue = answerInput.value.trim(); // Trim whitespace

        if (!answerValue) {
            return; // Stop the function from proceeding
        }

        let formData = new FormData(form);

        fetch("{% url 'kanji_test' %}", {
            method: 'POST',
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.is_correct) {
            feedbackElem.textContent = `Correct! ${data.prev_kanji} (${data.reading}) means ${data.correct_answer}`;
            answerInput.value = "";  // Clearing the input field
            feedbackElem.classList.add('alert-success');
            feedbackElem.classList.remove('alert-danger');
          } else {
            feedbackElem.textContent = `Incorrect. ${data.prev_kanji} (${data.reading}) means ${data.correct_answer}`;
            answerInput.value = "";  // Clearing the input field
            feedbackElem.classList.add('alert-danger');
            feedbackElem.classList.remove('alert-success');
          }

          if(data.level_up) {
            let results = document.createElement('div');

              if(data.pass) {
                resultsDiv.textContent += ` Congratulations! You've passed the ${data.level} Level Test. Press Enter to continue.`;
                resultsDiv.classList.add('alert-primary');
            } else {
                resultsDiv.textContent += ` Sorry, you did not pass the ${data.level} Level Test. Press Enter for your results.`;
                resultsDiv.classList.remove('alert-primary');
                resultsDiv.classList.remove('alert-danger');
            }

            if (!levelUpEventAdded) {
              resultsDiv.appendChild(results);

              document.getElementById('submitButton').addEventListener('click', function() {
                  window.location.href = "{% url 'kanji_test' %}";
              }, {once: true});  // The event will be removed after being called once
              levelUpEventAdded = true;
            }
          }
            document.querySelector('h1').textContent = `${data.level.toUpperCase()}`;
            document.getElementById('scoreDisplay').textContent = `Score: ${data.score}/${data.index}`;
            if (data.kanji) {
                document.getElementById('currentKanji').textContent = data.kanji;
            } else {
                document.getElementById('currentKanji').textContent = data.pass ? "\u2705" : "\u274C";
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error.message);
        });
    });
  </script>
{% endblock %}
